/deep/.alt-currency-select {
    overflow: hidden !important;
    max-height: none !important;
}

.empty-currencies {
    overflow: hidden !important;
    .loading {
        margin: 20px auto;
    }
}

.alt-currency-list {
    overflow: hidden !important;
    max-height: none !important;
    min-height: 45px;
    line-height: 2.5;

    /deep/.mat-optgroup-label {
        text-align: center;
        font-weight: 300;
        background: #0a0a0a69;
        font-size: 15px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
    }

    .symbol {
        font-size: 12px;
        opacity: .5;
        font-weight: 100;
    }
}
