.preferences-window {
    position: relative;
    overflow: hidden;
    padding: 24px 24px 15px;

    .mat-dialog-content {
        overflow: hidden;
    }

    .trx-only {
        padding: 0 0 10px 0;
    }

    .wallet-name-field {
        max-width: 500px;
        margin: 0 auto;

        mat-form-field {
            width: 100%;
            display: block;
            padding-top: 5px;
        }
    }
}

/deep/ .mat-pseudo-checkbox-checked::after {
    color: #fff;
    margin-top: 3px;
    margin-left: 1px;
}

/deep/ .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #101317;
}

.color-checked .mat-icon {
    font-size: 20px !important;
    margin: 5px 0 0 !important;
}


.settings-color-block {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
    margin: 1rem;
    align-items: center;
}


.progress-loading {
    position: absolute;
    right: 30px;
    top: 30px;

    .mat-spinner::ng-deep circle {
        stroke: #7476A2;
    }
}

.select-token-id {
    font-size: 13px;
    margin-right: 5px;
    opacity: .6;
    font-weight: 100;
}
