.delete-wallet-container {
    padding: 30px;
    text-align: center;

    .delete-wallet {

        mat-icon {
            width: 100px;
            height: auto;
            color: #b50000;
        }

        .title-info {
            font-size: 25px;
            padding: 20px;
        }

        .subtitle-info {
            font-weight: 100;
            padding-bottom: 20px;
        }

        #actions {
            padding: 10px 0;
        }
    }
}
