.progress-loading
{
    position: absolute;
    right: 30px;
    top: 30px;

    .mat-spinner::ng-deep circle {
        stroke: #7476A2;
    }
}

/deep/.token-select-list {
    overflow: hidden !important;
    max-height: none !important;
}

.token-select-search {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #f4f4f4;
    /deep/ .mat-form-field-flex {
        padding: 0 .75em;
    }

    /deep/.mat-form-field-infix {
        padding: 0;
        border-top: 0;
    }

    /deep/ .mat-form-field-wrapper {
        padding: 0;
    }

    /deep/ .mat-form-field-underline {
        display: none;
    }

    input {
        line-height: 3.4;
    }

    button {
        position: absolute;
        top: -35px;
        right: 0;
    }
}

.success-transaction
{
    background-size: contain;
    margin-left: -25px;
    margin-right: -25px;

    #header {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        h1 {
            font-weight: 100;
            text-align: center;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            color: #5c5f86;
        }
    }

    #actions {
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.transfer-window
{
    position: relative;
    overflow: hidden;
    padding: 24px 24px 15px;
    transition: transform 250ms cubic-bezier(0.25, 0.1, 0.25, 1);

    &.confirm
    {
        .confirm-tx {
            animation-duration: 400ms;
            animation-name: showSendConfirm;
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-fill-mode: forwards;
        }
    }

    .transfer-form-fields {
        max-width: 500px;
        margin: 0 auto;

        .amount {
            width: 100%;
            display: block;
            padding-bottom: 15px;

            /deep/ .mat-hint {
                font-size: 19px;
                width: 100%;
            }

            /deep/ .mat-form-field-flex {
                font-size: 19px;
            }

            /deep/.mat-form-field-hint-spacer {
                flex: 0;
            }
        }

        .send-max {
            background-color: rgba(255, 255, 255, 0.1);
            margin-top: 15px;
            height: 40px;
            min-width: 55px;
            margin-left: 12px;
            border-radius: 4px;
            font-size: 15px;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            cursor: pointer;
            z-index: 2;
            font-weight: 100;
            transition: opacity 100ms ease-in-out;
            opacity: .5;
            padding: 0;
        }

        mat-form-field.form-input {
            width: 100%;
            display: block;
        }

        /deep/.mat-form-field-appearance-outline  {
            .mat-form-field-suffix {
                top: .2em !important;
            }
        }
    }

    .notification
    {
        margin: 15px 0 16px 0;
        .not-funds
        {
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 4px;
            color: #f0f0f0d6;
        }
    }
}
