
<!-- Loading -->
<div class="progress-loading" *ngIf="isButtonDisabled">
    <mat-spinner [diameter]="40" [strokeWidth]="1"></mat-spinner>
</div>


<!-- Close Modal -->
<div class="close-dialog">
    <button mat-icon-button="" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<ng-container *ngIf="wallet.balance == 0">
    <no-funds-trx></no-funds-trx>
</ng-container>

<ng-container *ngIf="wallet.balance > 0">
    <ng-container *ngIf="isTransactionInfo">
        <transaction-info [token]="fields.token" [transaction]="signedTransaction"></transaction-info>
    </ng-container>

    <div *ngIf="!isTransactionInfo" class="transfer-window" [ngClass]="{'confirm': isConfirmed}">
        <div class="success-transaction" *ngIf="isSuccess">
            <div id="header">
                <h1>{{'Wallet.TransferAsset.Success' | translate}}</h1>
                <p>{{'Wallet.TransferAsset.SuccessDescription' | translate}}</p>
            </div>
            <lottie-animation-view
                [options]="lottieConfig"
                [width]="400"
                [height]="400">
            </lottie-animation-view>
            <div id="actions">
                <button mat-button (click)="isTransactionInfo = true" color="primary" class="tron-button">
                    {{'Wallet.TransferAsset.ButtonTransactionInfo' | translate}}
                </button>
            </div>
        </div>
        <ng-container *ngIf="!isSuccess">
            <ng-template [ngIf]="isConfirmed == false">
                <h1 mat-dialog-title>Send</h1>
                <div mat-dialog-content>
                    <div class="transfer-form-fields" fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'Wallet.TransferAsset.Token' | translate}}</mat-label>
                            <mat-select #select="matSelect" [placeholder]="'Wallet.TransferAsset.Token' | translate"
                                        [(value)]="fields.token" panelClass="token-select">

                                <mat-form-field appearance="fill" class="token-select-search">
                                    <input matInput [placeholder]="'Wallet.TransferAsset.SearchToken' | translate"
                                           [(ngModel)]="filterSearch" (input)="getItems($event)">

                                    <button mat-icon-button="" matSuffix  *ngIf="!filterSearch">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-icon-button="" (click)="clearFilter()" matSuffix *ngIf="filterSearch && filterSearch.length > 0">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </mat-form-field>

                                <!-- List Alt Currencies -->
                                <mat-selection-list class="token-select-list">
                                    <!-- all currency -->
                                    <ng-container *ngFor="let asset of filteredListTokens">
                                        <mat-option [value]="asset.name" fxLayout="row">{{ asset.name }}
                                            <span fxFlex=""></span>
                                            <span [style.fontSize]="'13px'">({{asset.value  | sunToUnit:asset.name}} available)</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-selection-list>

                                <!--<mat-optgroup [label]="'Wallet.TransferAsset.TokenLabel' | translate">-->
                                    <!--<ng-container *ngFor="let asset of listTokens">-->
                                        <!--<mat-option [value]="asset.name" fxLayout="row">{{ asset.name }}-->
                                            <!--<span fxFlex=""></span>-->
                                            <!--<span [style.fontSize]="'13px'">({{asset.value  | sunToUnit:asset.name}} available)</span>-->
                                        <!--</mat-option>-->
                                    <!--</ng-container>-->
                                <!--</mat-optgroup>-->
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>{{'Wallet.TransferAsset.To' | translate}}</mat-label>
                            <input matInput
                                   [placeholder]="'Wallet.TransferAsset.ToLabel' | translate"
                                   [(ngModel)]="fields.toAddress" name="toAddress">
                            <button matSuffix mat-icon-button [matMenuTriggerFor]="menu" *ngIf="filteredContactsList && filteredContactsList[0]">
                                <mat-icon>assignment_ind</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let item of filteredContactsList"
                                    (click)="chooseAddress(item.address)" [disabled]="item.address == fields.toAddress">
                                {{item.name}}
                            </button>
                        </mat-menu>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-form-field fxFlex class="amount" appearance="legacy" [floatLabel]="'never'">
                                <input matInput placeholder="0"
                                       [(ngModel)]="fields.amount"
                                       (ngModelChange)="processAmount('trx')"
                                       onlyNumber
                                       name="amount">
                                <span matSuffix>TRX</span>
                                <mat-hint fxLayout="row" *ngIf="fields.token == 'TRX'">
                                    <input matInput placeholder="0"
                                           [(ngModel)]="alternativeAmount"
                                           onlyNumber
                                           (ngModelChange)="processAmount('fiat')" value="0.00">
                                    <span matSuffix>{{fiatCode}}</span>
                                </mat-hint>
                            </mat-form-field>

                            <!-- Send max balance -->
                            <button fxFlex="2" class="send-max" mat-button=""
                                    [disabled]="fields.amount == getTokenAmount(fields.token)"
                                    (click)="sendMax()">MAX</button>
                        </div>
                    </div>

                    <div class="notification">
                        <!-- Displayed in case of lack of funds. -->
                        <div class="not-funds" *ngIf="this.fields.amount > this.getTokenAmount(this.fields.token)">
                            {{'Wallet.TransferAsset.NotFunds' | translate}}
                        </div>

                        <!-- Initial notice -->
                        <div class="not-funds" *ngIf="this.fields.amount == 0">
                            {{'Wallet.TransferAsset.AmountHint' | translate}}
                        </div>
                    </div>
                </div>
                <div mat-dialog-actions>
                    <button mat-button="" (click)="goToConfirm()" color="primary" [disabled]="enabledSend()"
                            class="tron-button red-bg transfer-button">
                        {{'Wallet.TransferAsset.Send' | translate}}
                    </button>
                </div>
            </ng-template>
            <ng-template [ngIf]="isConfirmed == true">
                <div class="confirm-tx">
                    <h1 mat-dialog-title>
                        {{'Wallet.TransferAsset.TransactionDetails' | translate}}
                    </h1>
                    <div mat-dialog-content>
                        <confirm-tx *ngIf="confirmDetails" [txp]="confirmDetails" [token]="fields.token"></confirm-tx>
                    </div>
                    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center" >
                        <button mat-stroked-button (click)="onBack()" color="primary"
                                class="tron-default-button transfer-button">
                            {{'Wallet.TransferAsset.Back' | translate}}
                        </button>
                        <button mat-button="" (click)="submitTransaction()" color="primary"
                                [disabled]="isButtonDisabled"
                                class="tron-button transfer-button">
                            {{'Wallet.TransferAsset.SubmitTransaction' | translate}}
                        </button>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
</ng-container>


