<ng-template [ngIf]="!isSuccess">
    <div class="import-wallet-wrapper">
        <mat-form-field appearance="outline" class="import-wallet-field">
            <mat-label>{{'Wallet.ImportWallet.Label' | translate}}</mat-label>
            <textarea [(ngModel)]="privateKey" name="privateKey"
                      matInput
                      [placeholder]="'Wallet.ImportWallet.EnterPrivateKey' | translate"
                      cdkTextareaAutosize (ngModelChange)="onChangeImportKey()"></textarea>
            <mat-hint>{{'Wallet.ImportWallet.PrivateKeyHint' | translate}}</mat-hint>
        </mat-form-field>
    </div>


    <div class="import-wallet-optional" *ngIf="!hideOptional">
        <mat-divider></mat-divider>
        <div class="import-wallet-wrapper">
            <mat-form-field appearance="outline" class="account-name-field">
                <mat-label>{{'Wallet.ImportWallet.WalletName' | translate}}</mat-label>
                <input [(ngModel)]="walletName" name="walletName" matInput
                       [placeholder]="'Wallet.ImportWallet.EnterWalletName' | translate">
                <mat-hint>{{'Wallet.ImportWallet.WalletNameHint' | translate}}</mat-hint>
            </mat-form-field>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="isSuccess">

    <lottie-animation-view
        [options]="lottieConfig"
        [width]="400"
        [height]="400">
    </lottie-animation-view>

    <div class="wallet-success">
        <div class="wallet-success-icon"></div>
        <div class="wallet-success-data">
            <span [innerHtml]="'Wallet.ImportWallet.SuccessImport' | translate:{'walletName': walletName}"></span>
        </div>
    </div>
</ng-template>


<div class="create-wallet-button" fxLayout="row" fxLayoutAlign="center center">
    <ng-template [ngIf]="!isSuccess">
        <button mat-button color="primary" [disabled]="disablePrivateKey"
                (click)="doImportWallet()">
            {{'Wallet.ImportWallet.ButtonImportWallet' | translate}}
        </button>
    </ng-template>

    <ng-template [ngIf]="isSuccess">
        <button class="right" mat-button color="primary" routerLink="/wallet">
            {{ 'Wallet.ImportWallet.Back' | translate }}
        </button>
    </ng-template>
</div>
