#overall-balance {
    background-color: #1b1b1db8;
    height: 50px;

    .symbol {
        font-size: 0.7em;
        opacity: 0.5;
        margin-right: 2px;
    }

    .amount {
        font-size: 0.9em;
    }
}
