$skin-mosaic-bg: rgba(27, 27, 29, 0.72);
$skin-mamba-bg: rgba(27, 27, 29, 0.72);
$skin-midnight-bg: rgba(255, 255, 255, 0.05);
$skin-darklinen-bg: rgba(255, 255, 255, 0.05);
$skin-vessel-bg: rgba(255, 255, 255, 0.05);


.skin-default {
    background-image: linear-gradient(40deg, #10101A 0%, #191A2A 100%);
}

.skin-barlow {
    background-image: linear-gradient(to top, #0f3649, #37516c);
}

.skin-mosaic {
    background-image: url("assets/images/skins/mosaic.png");

    .sidenav-menu {
        .overall-balance {
            background: $skin-mosaic-bg !important;
        }

        .mat-toolbar {
            background: $skin-mosaic-bg !important;
        }

        .menu-mat-list {
            background: $skin-mosaic-bg !important;
        }
    }
}

.skin-wood {
    background-image: linear-gradient(190deg, transparent 0%, rgba(0, 0, 0, 0.6) 99%), url('assets/images/skins/wood.png');
}

.skin-padded {
    background-image: url("assets/images/skins/padded.png");
}

.skin-argyle {
    background-image: linear-gradient(-177deg, rgba(255, 255, 255, 0.08) 30%, rgba(255, 255, 255, 0) 99%), url('assets/images/skins/argyle.png');
}

.skin-jeans {
    background-image: url("assets/images/skins/jeans_black.png");
}

.skin-diagmonds {
    background-image: url("assets/images/skins/diagmonds.png");
}

.skin-woven {
    background-image: url("assets/images/skins/woven.png");
}

.skin-mamba {
    background-image: url("assets/images/skins/black_mamba.png");

    .sidenav-menu {
        .overall-balance {
            background: $skin-mamba-bg !important;
        }

        .mat-toolbar {
            background: $skin-mamba-bg !important;
        }

        .menu-mat-list {
            background: $skin-mamba-bg !important;
        }
    }

}

.skin-midnight
{
    background-color: #212830;
    background-image: linear-gradient(-177deg, transparent 30%, rgba(0, 0, 0, 0.4) 99%);

    .sidenav-menu {
        .overall-balance {
            background: $skin-midnight-bg !important;
        }

        .mat-toolbar {
            background: $skin-midnight-bg !important;
        }

        .menu-mat-list {
            background: $skin-midnight-bg !important;
        }
    }
}

.skin-darklinen {
    background-image: linear-gradient(-177deg, transparent 30%, rgba(0, 0, 0, 0.1) 99%), url('assets/images/skins/linen-dark.png');

    .sidenav-menu {
        .overall-balance {
            background: $skin-darklinen-bg !important;
        }

        .mat-toolbar {
            background: $skin-darklinen-bg !important;
        }

        .menu-mat-list {
            background: $skin-darklinen-bg !important;
        }

        .mat-nav-list .mat-list-item {
            color: #FAFAFA !important;
            opacity: .5;

            &.active {
                opacity: 1;
            }
        }
    }
}

.skin-endless-space {
    background-image: linear-gradient(-180deg, rgba(33, 25, 41, 0.8) 0%, rgba(0, 0, 0, 0.7) 100%), url('assets/images/themes/endless-space.jpg');
    background-size: cover;
}

.skin-vessel {
    background-size: cover;
    background-image: linear-gradient(-177deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("assets/images/themes/vessel-bg.jpg");

    .sidenav-menu {
        .overall-balance {
            background: $skin-vessel-bg !important;
        }

        .mat-toolbar {
            background: $skin-vessel-bg !important;
        }

        .menu-mat-list {
            background: $skin-vessel-bg !important;
        }

        .mat-nav-list .mat-list-item {
            color: #FAFAFA !important;
            opacity: .5;

            &.active {
                opacity: 1;
            }
        }
    }
}

