:host {
    display: flex;
    flex: 1 1 auto;
    position: relative;
}

#tron-content-wallet
{
    display: flex;
    flex: 1 1 auto;
    cursor: default;
    position: relative;
}

    // Style list accounts
    #wallet-coin-list
    {
        font-weight: 300;
        line-height: 1;
        border-right: 2px solid #F0F0F0;
        flex-grow: 0;
        flex-shrink: 0;

        &.tron-color {
            border-color: #D11E25 !important;
        }

        mat-list {
            text-align: right;
            position: relative;
            height: calc(100% - 50px);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 0;
            list-style: none;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0 -1px 0 0;

            &::-webkit-scrollbar {
                display: none;
            }

            .mat-list-item {
                cursor: pointer;
                margin: 12px 0 0 0;
                height: 55px;

                .proper-name {
                    transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
                    font-weight: 300;
                    font-size: 14px;
                    :hover {
                        opacity: 1 !important;
                    }
                }
                .unit {
                    margin-top: 4px;
                    opacity: 0.35;
                    font-size: 12px;
                    font-weight: 300;
                    transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
                }

                &.active {
                    .proper-name {
                        font-weight: 400;
                        color: #D11E25;
                        fill: #D11E25;
                    }
                    .market-wallet {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 2px;
                        height: 100%;
                        margin-right: 0;
                        border-radius: 2px 0 0 2px;
                        transform-origin: center right;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    .tron-wallet-bg {
                        background-color: #D11E25 !important;
                    }
                }
            }
        }

        .add-wallet {
            display: block;
            cursor: pointer;
            position: relative;
            text-align: center;
            line-height: 3;

            button {
                border-radius: 0;
                font-size: .9rem;
                font-weight: 300;
            }
        }
    }

.wallet-options {
    width: 100%;
    position: absolute;
    left: 0;
    top: 35px;

    .wallet-option-item {
        background-color: #25252573;
        padding: 5px 30px;
        border-radius: 5px;

        .label {
            font-size: 10px;
            text-align: center;
            color: #e0e0e09c;
        }

        .value {
            text-align: center;
            margin-top: 2px;
            font-size: 14px;
        }

        &:first-child {
            margin-right: 300px;
        }
    }
}

.wallet-settings {
    position: absolute;
    top: 35px;
    right: 35px;
    color: rgba(250, 250, 250, 0.75);
    flex-grow: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: 300;
    z-index: 999;

    mat-icon {
        width: 35px;
        height: 35px;
        opacity: .5;
        transition: opacity .3s ease-out;
        -moz-transition: opacity .3s ease-out;
        -webkit-transition: opacity .3s ease-out;
        -o-transition: opacity .3s ease-out;
    }

    :hover {
        mat-icon {
            opacity: 1;
        }
    }
}

/deep/.wallet-settings-menu {
    .mat-menu-content {
        width: 100vw;
        min-width: 200px;
        max-width: 230px;
        color: #222;

        button {
            font-size: 14px;
            line-height: 2.5rem;
            height: 2.5rem;
            color: #999bb5;

            &.delete {
                color: #ff5454;
            }
        }
    }
}


#wallet-detail-header
{
    z-index: 2;
    transition: margin-top 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    padding-top: 16px;

    &.has-scrolling {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
        margin-top: -100px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    @media (min-width: 769px) {
        & {
            height: 280px;
        }
    }
    @media (min-width: 1180px) {
        & {
            height: 288px; }

    }
    @media (min-width: 1600px) {
        & {
            height: 312px;
        }
    }

    #asset-logo-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;

        #asset-logo-container {
            position: relative;
            cursor: pointer;
            width: 84px;
            height: 84px;

            &.on {
                #update-tx {
                    opacity: 1;
                    transform: scale(1, 1);
                }

                #logo {
                    transform: scale(0.5, 0.5);
                    opacity: 0;
                    transition: opacity 350ms cubic-bezier(0.25, 0.1, 0.25, 1), transform 250ms ease-in-out;
                }
            }

            #logo {
                position: absolute;
                opacity: 1;
                width: 100%;
                height: 100%;
                z-index: 100;
                transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),
                background 350ms cubic-bezier(0.25, 0.1, 0.25, 1),
                transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .tron-icon {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            #update-tx {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                opacity: 0;
                z-index: 99;
                transition: opacity 300ms cubic-bezier(0.25, 0.1, 0.25, 1), transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform: scale(0.85, 0.85);
                box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.35);
                background-image: linear-gradient(179deg, #d11b12 0%, rgba(125, 17, 11, 0.95) 100%);
                border-color: #D11E25;

                mat-icon {
                    display: block;
                    width: 40px;
                    height: 40px;
                    margin: 20px auto 0 20px;
                }
            }
        }
    }

    #header-balance {
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        line-height: 0.75em;
        padding: 0;
        white-space: nowrap;
        letter-spacing: -0.02em;
        margin: 14px 0 0;
        text-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);

        font-size: 56px;
        line-height: 0.8em;

        color: #D11E25;
        fill: #D11E25;

        .balance {

        }

        .display-unit {
            letter-spacing: normal;
            font-size: 0.5em;
            margin-left: 4px;
            font-weight: 100;
        }
    }

    #header-alt-balance {
        color: #FAFAFA;
        font-size: 26px;
        font-weight: 300;
        line-height: 1em;
        margin: 0;

        .symbol {
            font-size: 0.7em;
            opacity: 0.6;
        }

        .amount {
            margin-right: 5px;
            margin-left: 5px;
        }

        .code {
            font-size: 0.6em;
            opacity: 0.75;
        }
    }
}

#wallet-detail-transaction {
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
    flex: 1;
}


#actions {
    margin-top: 8px;
    button {
        width: 220px;
        border-radius: 30px;
        margin: 14px 12px !important;
    }
}

/deep/ .transaction-list
{
    .transaction-list-item
    {
        margin: 0;
        background: transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.075);
        box-shadow: none !important;
        width: 100%;
        font-weight: 300;
        font-size: 13px;
        transition: min-height 200ms cubic-bezier(0.25, 0.1, 0.25, 1), max-height 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
        overflow: hidden;
        color: #FAFAFA;

        &.mat-expansion-panel-spacing {
            background-position: 0 0px;
            background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100%);
            margin: 0;
        }

        .transaction-item-header {
            flex-direction: row;
            flex-grow: 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            flex-shrink: 0;
            margin-left: 28px;
            margin-right: 8px;
            font-size: 14px;
            font-weight: 400;
            padding-right: 32px;
        }

        .date {
            text-align: center;
            line-height: 1.4em;
            margin-right: 24px;
            flex-basis: 34px;
            font-weight: 300;

            .date-month {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 1.2em;
            }
            .date-day {
                font-size: 16px;
                font-weight: 300;
            }
        }

        .tx-price {
            margin-right: 15px;
            color: #D11E25;
            fill: #D11E25;
            text-align: right;

            .amount {
                margin-right: 5px;
            }

            .unit {
                font-size: 14px;
            }

            .time-ago {
                color: rgba(255, 255, 255, 0.7);
                font-size: 11px;
                text-align: right;
                margin-top: 3px;
            }
        }
    }
    .transaction-item-detail {
        .tx-details__item {
            margin: 8px 0;
            padding-right: 16px;

            .title {
                font-weight: 400;
                color: rgba(250, 250, 250, 0.3);
                font-size: 12px;
                text-transform: uppercase;
            }

            .content {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.link {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}


.no-transaction {
    text-align: center;
    opacity: .2;
    font-weight: 300;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.empty-wallet {
    height: 100vh;
    text-align: center;
    opacity: .2;
    font-weight: 300;
    font-size: 24px;
}

.loading-transaction {
    margin: 120px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mat-spinner::ng-deep circle {
    stroke: rgba(255,255,255,0.5);
}

.confirmed {
    border-left-color: #3FE77B;
}

.unconfirmed {
    border-left-color: #FF4465;
}
