.edit-contact-window
{
    position: relative;
    overflow: hidden;
    padding: 24px 24px 15px;

    .mat-dialog-content {
        overflow: hidden;
    }

    .contact-name-field {
        max-width: 500px;
        margin: 0 auto;

        mat-form-field {
            width: 100%;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}


