.success-transaction
{
    background-size: contain;
    margin-left: -25px;
    margin-right: -25px;

    #header {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        h1 {
            font-weight: 100;
            text-align: center;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            color: #5c5f86;
        }
    }
}

.freeze-window {
    position: relative;
    overflow: hidden;
    padding: 24px 24px 15px;
    transition: transform 250ms cubic-bezier(0.25, 0.1, 0.25, 1);

    .mat-dialog-content {
        margin: 0;
    }

    .header {
        text-align: center;

        .balance-label {
            color: #7476A2;
            font-size: 13px;
            font-weight: 400;
        }

        .balance-value {
            font-size: 30px;
            font-weight: 500;
            padding: 15px 15px 20px;
        }
    }

    #content {
        width: 70%;

        mat-form-field {
            width: 100%;


            mat-hint {
                text-transform: uppercase;
                margin-left: -10px;
                margin-top: 5px;
                font-weight: 100;
            }

            .mat-form-field-suffix {
                top: 0.15em;
                right: 5px;
                color: #7476A2;
            }
        }
    }

    #action-freeze {
        padding-top: 15px;
        text-align: center;

        mat-checkbox {
            font-size: 13px;
            display: block;
            padding-bottom: 10px;
            color: #ff7f28;
            padding-top: 10px;
        }
    }

    #action-unfreeze {
        text-align: center;
        p {
            margin-top: 25px;
            font-size: 12px;
            color: #999bb5;
            margin-bottom: 20px;
        }
    }
}


.select-freeze
{
    background: #1f1f2f;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: none !important;

    .mat-button-toggle
    {
        color: #fff;
        background: #3f415a;
        margin: 2px 5px;
        border-radius: 5px;
        font-size: 12px;
        border: none;

        /deep/ .mat-button-toggle-button {
            padding-left: 54px;
            padding-right: 54px;
            line-height: 3;
            text-transform: uppercase;
        }

        &.mat-button-toggle-checked {
            background-color: #696a98;
        }

        /deep/ .mat-button-toggle-label-content {
            line-height: 30px !important;
            padding: 0 12px;
        }
    }
}
