<div id="wallet-detail-header" [ngClass]="{'has-scrolling': header}">
    <div id="asset-logo-status" (click)="updateWallet()">
        <div id="asset-logo-container" [class.on]="enabledOn" (mouseout)="enabledOn=false" (mouseover)="enabledOn=true">
            <div id="update-tx">
                <mat-icon svgIcon="c-refresh"></mat-icon>
            </div>
            <div id="logo" class="tron-icon"></div>
        </div>
    </div>

    <div id="header-balance">
        <div class="balance-trx" *ngIf="!wallet.hideBalance">
            <span class="balance">{{wallet.balance | sunToUnit}}</span>
            <span class="display-unit">TRX</span>
        </div>
        <div class="hide-balance" *ngIf="wallet.hideBalance">
            [{{'Wallet.Index.HideBalance' | translate}}]
        </div>
    </div>

    <div id="header-alt-balance" *ngIf="!wallet.hideBalance">
        <div class="currency">
            <span class="symbol"></span>
            <span class="amount">{{ wallet.balance | sunToFiat }}</span>
            <span class="code">{{ altCode }}</span>
        </div>
    </div>

    <div id="actions" fxLayout="row">
        <button mat-button="" class="tron-button red-bg" (click)="transferModal()">
            {{'Wallet.Index.Send' | translate}}
        </button>
        <button mat-button="" class="tron-button red-bg" (click)="receiveModal()">
            {{'Wallet.Index.Receive' | translate}}
        </button>
        <button mat-button="" class="tron-button red-bg" (click)="freezeModal()">
            {{'Wallet.Index.Freeze' | translate}}
        </button>
    </div>
</div>
